<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Document</title>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"></script>
		<link rel="stylesheet" href="https://cdn.bootcss.com/vue/2.5.21/vue.min.js">
	</head>
	<body>
		<div id="app">
			<input type="button" value="toggle" @click="flag=!flag">
			<!-- <transition enter-active-class="animated bounceIn" leave-active-class="animated bounceOut">
<h3 v-if="flag">这是一个H3</h3>
</transition> -->
			<transition enter-active-class="bounceIn" leave-active-class="bounceOut" :duration:"400">
				<h3 v-if="flag" class="animated">这是一个H3</h3>
			</transition>
		</div>
		<script>
			var vm = new Vue({
				el: '#app',
				data: {
					flag: false
				},
				methods: {

				}
			})
		</script>
	</body>
</html>
